/* Style css */

body {
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  margin: 0 auto;
}

.banner {
  color: white;
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px 50px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-weight: normal;
  color: #A0A0A0;
  margin-top: 48px;
}

p {
  font-family: 'Lora', serif;
}

#baseline {
  font-style: italic;
  font-size: 28px;
}

.container {
  padding: 0px 50px;
}

.link-medium {
  text-decoration: none;
  background-color: rgb(233, 253, 240);
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link-medium:hover {
  background-color: rgb(125, 255, 179);
}

/* Media queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 50px;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
